.mainbox {
  height: 550px;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
}

.logo-pic {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-image: url('/static/images/bg.jpeg');
  background-repeat: repeat;
}