.password-box {
  background-color: #EBEBEB;
}
#forget-password:before {
  content: '';
  border-left: 1px solid #999;
  margin-right: 15px;
}

.mainbox {
  height: 580px;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
}

.logo-pic {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-image: url('/static/images/bg.jpeg');
  background-repeat: repeat;
}